@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

@use './utils.scss';

@use './validators/_base.scss';

$_default-label: 'Value';

/**
 * Returns a map of validators for the given module and prefix.
 *
 * @param {string} $module - The module name, as in a string matching the namespace of an @use rule in the current file
 * @param {string} $prefix - The prefix of the validator function names, e.g. '__number';
 * @param {...string} $args - The keywords to get validators for. They **must** match the module's function names.

 * @return {map} A map of validators.

  * ATTENTION: THIS DOES NOT CURRENTLY WORK. SEE https://github.com/sass/sass/issues/4084
 */
@function __DONT_USE_ME__get-validators($module, $prefix, $args...) {
  $kvargs: meta.keywords($args);

  $validators: ();

  @each $key, $arg in $kvargs {
    @if $arg != null {
      $function-name: '#{$prefix}-#{$key}';
      @if not meta.function-exists($function-name, $module) {
        @error '[surimi] Internal error: Validator function `#{$function-name}` does not exist in module `#{$module}`.';
      }

      $fn: meta.get-function($function-name, $module);

      $validator: (
        '#{$key}': (
            'fn': $fn,
            'arg': $arg,
          ),
      );
      $validators: map.merge($validators, $validator);
    }
  }

  @return $validators;
}

@function _validate-primitive($schema, $value, $label: null) {
  $user-label: map.get($schema, 'label');

  $final-label: $_default-label;
  @if $user-label != null {
    $final-label: $user-label;
  } @else if $label != null {
    $final-label: $label;
  }

  $validators: map.get($schema, 'validators');

  $input: [];

  @each $key, $validator in $validators {
    $fn: map.get($validator, 'fn');
    $arg: map.get($validator, 'arg');

    $input: list.append($input, ($fn, $arg));
  }

  $validation-errors: base.validate($schema, $value);

  // Check for any 'base errors' first. If they exist, don't run the validators.
  // This is done to avoid type-errors in the validators - they lead to unclear error messages.
  @if list.length($validation-errors) == 0 {
    @each $item in $input {
      $fn: list.nth($item, 1);
      $args: (list.nth($item, 2) $value);
      $res: meta.call($fn, $args...);

      // Only save and process the result, if the validator returned an error (string).
      @if $res != null and meta.type-of($res) == 'string' {
        $validation-errors: list.append($validation-errors, '#{$final-label} #{$res}');
      }
    }
  }

  @return $validation-errors;
}

@function _validate-map($schema, $value, $label) {
  $map-user-label: map.get($schema, 'label');

  $map-label: $_default-label;
  @if $map-user-label != null {
    $map-label: $map-user-label;
  } @else if $label != null {
    $map-label: $label;
  } @else {
    $map-label: 'Map';
  }

  $results: ();

  @each $key, $sub-schema in map.get($schema, 'validators') {
    $sub-value: map.get($value, $key);
    $sub-label: map.get($sub-schema, 'label');

    @if $sub-label == null {
      $sub-label: $key;
    }

    $final-label: '#{$map-label}.#{$sub-label}';

    $res: _validate($sub-schema, $sub-value, $final-label);

    $results: map.merge(
      $results,
      (
        '#{$key}': $res,
      )
    );
  }

  @return $results;
}

/* The base (internal) function to validate any type of schema.
 *
 * @param {map} $schema - The schema to validate against, e.g. the return value of `surimi.number(...)`.
 * @param {*} $value - The value to validate.
 * @param {string} $label - A default label for the value, used in error messages.
 * @return {list} A list of validation errors, or an empty list if the value is valid.
 */
@function _validate($schema, $value, $label: null) {
  @if not utils.is-schema($schema) {
    @error '[surimi] The first value passed to `validate` must be a valid schema, for example the return value of `surimi.number(...)`';
  }

  $validation-errors: [];

  $schema-type: utils.get-schema-type($schema);
  @if $schema-type == 'number' or $schema-type == 'string' {
    $validation-errors: _validate-primitive($schema, $value, $label);
  } @else if $schema-type == 'map' {
    $map-result: _validate-map($schema, $value, $label);

    @each $key, $errors in $map-result {
      $validation-errors: list.join($validation-errors, $errors);
    }
  } @else {
    @error '[surimi] Invalid schema type `#{$schema-type}`. Supported types are `number`, `string`, and `map`.';
  }

  @return $validation-errors;
}

/* The base function to validate any type of schema.
 *
 * @param {map} $schema - The schema to validate against, e.g. the return value of `surimi.number(...)`.
 * @param {*} $value - The value to validate.
 * @param {string} $label - A default label for the value, used in error messages.
 * if the validator was called with a label (like s.number(..., $label: 'My number')), that label will be used instead.
 * @param {boolean} $throw - Whether to throw an error if the value is invalid.
 * If 'warn' is set to true, this will be 'false', if $throw is set to false, will return a list of validation errors instead of throwing an error.
 * @param {boolean} $warn - Whether to warn instead of throwing an error if the value is invalid.
 * If 'true', will not throw an error, but will return a list of validation errors instead. If 'throw' is set to 'false', will NOT show warnings, but instead
  * return a list of validation errors.
  * @return {list} A list of validation errors, or an empty list if the value is valid.
 */
@function validate-fn($schema, $value, $label: null, $throw: true, $warn: false, $prefix: 'surimi') {
  $validation-errors: _validate($schema, $value, $label);

  // This logic allows an easy way of switching between error, warning and 'return' modes.
  // If 'throw' is set to true (default), it will throw as soon as it finds an error.
  // If 'throw is set to false, it will return a list of validation errors.
  // If 'warn' is set to true, it will warn instead of throwing an error.
  @each $item in $validation-errors {
    @if $throw {
      @error '[#{$prefix}] #{$item}';
    } @else if $warn {
      @warn '[#{$prefix}] #{$item}';
    }
  }

  @return $validation-errors;
}

/* The base mixin to validate any type of schema.
 *
 * @param {map} $schema - The schema to validate against, e.g. the return value of `surimi.number(...)`.
 * @param {*} $value - The value to validate.
 * @param {string} $label - A default label for the value, used in error messages.
 * if the validator was called with a label (like s.number(..., $label: 'My number')), that label will be used instead.
 * @param {boolean} $throw - Whether to throw an error if the value is invalid. If set to 'false', will warn instead.

 * Unlike the `validate-fn` function, `validate` does not have a `warn` parameter. If you need to return a list of validation errors instead of throwing an error,
 * you have to use the `validate-fn` function instead.

 * @return {list} A list of validation errors, or an empty list if the value is valid.
 */
@mixin validate($schema, $value, $label: null, $throw: true, $prefix: 'surimi') {
  $validation-errors: _validate($schema, $value, $label);

  @if $throw {
    @each $item in $validation-errors {
      @error '[#{$prefix}] #{$item}';
    }
  } @else {
    @each $item in $validation-errors {
      @warn '[#{$prefix}] #{$item}';
    }
  }
}
