@forward './number.scss';
@forward './string.scss';
@forward './map.scss';
@forward './list.scss';

@use 'sass:meta';
@use 'sass:string' as sass-string;
@use 'sass:map' as sass-map;
@use 'sass:list' as sass-list;

@use './_number.scss';
@use './_string.scss';
@use './_map.scss';
@use './list.scss';

@function list($module, $aliases: ()) {
  $all-functions: meta.module-functions($module);

  $res: [];

  @each $key, $fn in $all-functions {
    @if sass-string.index($key, '#{$module}-') == 1 {
      $key: sass-string.slice($key, sass-string.length($module) + 2);
      $res: sass-list.append($res, $key);
    }
  }

  $alias-keys: sass-map.keys($aliases);

  @return sass-list.join($res, $alias-keys);
}
