@use 'surimi' as s;

$my-number-schema: s.number(
  $gte: 18,
);

$my-string-schema: s.string(
  $starts-with: 'su',
  $ends-with: 'mi',
);

$res1: s.validate($my-number-schema, 15); // Oh-oh, an error!
$res2: s.validate($my-string-schema, 'tofu'); // No way!

$my-object-schema: s.map(
  (
    'name': s.string(
        $label: 'Name',
        $max-length: 10,
      ),
    'age': s.number(
        $label: 'Age',
        $gte: 18,
        $lte: 99,
      ),
  )
);

$res3: s.validate(
  $my-object-schema,
  (
    'name': 'John',
    'age': 17,
  )
);
