@forward 'include-media';
@forward '@janis.me/themed';

@use 'include-media' as *;
@use '@janis.me/themed';
@use '@janis.me/themed/generators';
@use '@janis.me/themed/plugins';

$themes: ();

// The plugins are optional,
// but that's what's used for this website.
@include themed.configure(
  $themes,
  generators.size(),
  generators.colors($primary: #f84923, $gray: #242221, $target-space: rgb)
);

$breakpoints: (
  phone: 420px,
  tablet: 768px,
  desktop: 1024px,
  ultrawide: 2000px,
);
