@use '@fontsource-variable/jetbrains-mono';
@use 'sanitize.css';

@use './globals' as *;

@include apply();

html[data-theme='dark'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    background-color: themed('gray-2') !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

html[data-theme='light'] {
  code,
  .astro-code,
  .astro-code span,
  .astro-code .line {
    background-color: themed('gray-2') !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
  }
}

.astro-code {
  code {
    display: inline-block;
    padding: 0 !important;
    width: 100%;

    // the usual styling
    .line {
      display: inline-block;
      width: 100%;
      padding: themed('size-2') themed('size-8');
    }

    $highlighted-border: 2px dotted themed('primary-6');

    &:has(.highlighted) {
      .line:not(.highlighted) {
        filter: blur(1px);
      }

      // Select the first highlighted line that comes after a non-highlighted line
      .line:not(.highlighted):has(+ .highlighted) + .highlighted {
        border-top: $highlighted-border;
      }

      .highlighted {
        border-left: $highlighted-border;
        border-right: $highlighted-border;
      }

      // The first highlighted line, if there is no previous line
      .highlighted:first-of-type {
        border-top: $highlighted-border;
      }

      // highlighted lines that are not followed by another highlighted line
      .highlighted:not(:has(+ .highlighted)) {
        border-bottom: $highlighted-border;
      }
    }
  }
}

:where(code) {
  font-family: 'JetBrains Mono Variable', 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  font-family: 'JetBrains Mono Variable', 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
  background-color: themed('gray-1');
  color: themed('gray-12');
}

a {
  color: themed('primary-12');
  text-decoration: underline;

  &:has(button),
  &:has(h1) {
    color: themed('gray-12');
    text-decoration: none;
  }

  &.markdown-anchor {
    color: themed('gray-12');
    text-decoration: none;
  }
}

code {
  padding: 0 themed('size-4');
}

h1,
h2,
h3,
h4,
p,
input,
button,
select {
  color: themed('gray-12');
}

p {
  text-wrap: pretty;
}

hr {
  margin: themed('size-16') themed('size-32');
  border: none;
  border-top: 1px solid themed('gray-3');
}

label {
  color: themed('gray-11');
}

button {
  background-color: themed('gray-2');
  color: themed('gray-12');
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: themed('gray-3');
  }
}

@include media('<=tablet') {
  html {
    font-size: 14px;
  }
}

@include media('<=phone') {
  html {
    font-size: 12px;
  }
}
