@use '@fontsource-variable/jetbrains-mono';
@use 'sanitize.css';

@use './globals' as *;

@include apply() using ($prefix, $key, $value, $theme) {
}

.astro-code {
  code {
    display: inline-block;
    padding: 0 !important;
    width: 100%;
  }

  .line {
    display: inline-block;
    width: 100%;
    padding: 0 themed('size-8');

    &.highlighted {
      background-color: themed('gray-4') !important;
    }
  }
}

:where(code) {
  font-family: 'JetBrains Mono Variable', 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  font-family: 'JetBrains Mono Variable', 'IBM Plex Mono', Tahoma, Geneva, Verdana, sans-serif;
  background-color: themed('gray-1');
  color: themed('gray-12');
}

a {
  color: themed('primary-12');
  text-decoration: underline;

  &:has(button),
  &:has(h1) {
    color: themed('gray-12');
    text-decoration: none;
  }

  &.markdown-anchor {
    color: themed('gray-12');
    text-decoration: none;
  }
}

code {
  background-color: themed('gray-2');
  padding: 0 themed('size-4');
}

h1,
h2,
h3,
h4,
p,
input,
button,
select {
  color: themed('gray-12');
}

p {
  text-wrap: pretty;
}

hr {
  margin: themed('size-16') themed('size-32');
  border: none;
  border-top: 1px solid themed('gray-3');
}

label {
  color: themed('gray-11');
}

button {
  background-color: themed('gray-2');
  color: themed('gray-12');
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: themed('gray-3');
  }
}

@include media('<=tablet') {
  html {
    font-size: 14px;
  }
}

@include media('<=phone') {
  html {
    font-size: 12px;
  }
}
